<div class="mb-2 px-4">
    <label for="username" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Username</label>
    <input 
        type="text" 
        id="username"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" 
        [(ngModel)]="username"   
    />
</div>
<p>{{username}}&nbsp;</p>
<button 
    class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2 mr-2 mb-2 focus:outline-none disabled:bg-slate-400" 
    [disabled]="username === '' ? true : false"
    (click)="onCreateServer()"
>
    Reset Username
</button>
<p *ngIf="serverCreated; else noserver">Server was created, server name is {{serverName}}</p>
<ng-template #noserver>
    <p>No server was created</p>
</ng-template>
<app-server *ngFor="let server of servers"></app-server>
<div class="my-4 min-h-[68px]">
    <button
        class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2 mr-2 mb-2 focus:outline-none disabled:bg-slate-400" 
        (click)="onClickShowDetails()"
    >Display Details</button>
    <p *ngIf="showSecret">Secret Password = tuna</p>
</div>
<ul>
    <li 
        *ngFor="let log of clickLog" 
        [innerHTML]="showDate(this.log)"
        [ngClass]="{'text-white': log.clickCount >= 5}"
        [ngStyle]="{'background-color': log.clickCount >= 5 ? 'blue' : 'transparent'}"
    ></li>
</ul>
